body {
    height: 3000px;
}
.cabezera {
    background-color: rgba(240, 235, 235, 0.548);
    width: 100%;
    border-bottom: 2px solid black;
    position: sticky;
    display: flex;
    top: 0;
    gap: 100px;
}
img {
    width: 200px;
    height: auto;
}

nav {
    margin-top: 20px;
    position: relative;
    left: 15%;
    display: flex;
    gap: 100px;
}

button {
    width: 250px;
    height: 45px;
}

p {
    margin: 150px;
}